/* Habilita a rolagem suave */
html{
    scroll-behavior: smooth;
}
  
/* Estilos gerais do corpo */
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Estilos do cabeçalho */
header{
    background-color: #071359; /* Cor de fundo azul escuro */
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0px 18px;
    z-index: 1000;
}

/* Estilos do conteúdo principal */
main{
    background-color: #F2F2F2; /* Cor de fundo clara */
}

/* Estilos das seções */
section{
    padding: 50px 20px 50px 20px;
    width: 100%;
}

/* Estilos da navegação */
nav{
    width: 75%;
}

/* Estilos dos títulos */
h1{
    font-size: 1.8rem;
    font-style: bold;
    color: #F2F2F2; /* Cor do texto clara */
}

#inteiro{
    display: none;
}

h2{
    font-size: 1.65rem;
    margin: 30px 0px;
    font-weight: bolder;
    text-align: center;
}

h3{
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-weight: bolder;
    align-self: center;
}

strong{
    font-weight: bolder;
}

/* Estilos dos links no cabeçalho */
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #F2F2F2; /* Cor do texto clara */
    font-size: 1rem;
    height: 50px;
    transition: all 0.3s ease;
    padding: 0px 6px;
}

/* Estilos das listas */
li{
    width: 100%;
}

/* Estilos dos parágrafos */
p{
    text-align: justify;
    font-style: oblique;
    line-height: 1.6;
}

/* Estilos do menu */
.menu{
    display: flex;
    flex-direction: row;
}

.menu a:hover{
    background-color: #F2F2F2; /* Cor de fundo clara */
    color: #071359; /* Cor do texto azul escuro */
}

/* Estilos da seção Sobre */
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#sobre2{
    padding: 0px 60px 50px 60px;
}

.img-sobre{
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
}

.foto{
    position: absolute;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #071359; /* Borda azul escuro */
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    width: 140px;
    height: 140px;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2; /* Cor de fundo clara */
}

#sobre h2, #sobre p, #projetos h3{
    color: #071359; /* Cor do texto azul escuro */
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Estilos da seção Projetos */
#projetos{
    background-color: #071359; /* Cor de fundo azul escuro */
    color: #F2F2F2; /* Cor do texto clara */
}

.projeto{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2; /* Cor de fundo clara */
    border-radius: 10px;
    border: solid 1px #F2F2F2; /* Borda clara */
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    color: #071359; /* Cor do texto azul escuro */
    margin: 20px 0px;
    padding: 20px;
    transition: all .3s ease;
}

.projeto:hover{
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

#tecnologias{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all .3s ease;
}

.projeto a{
    padding: 0px;
    height: 35px;
    margin: 10px 0px;
}

.projeto button{
    background-color: #071359; /* Cor de fundo azul escuro */
    color: #F2F2F2; /* Cor do texto clara */
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    padding: 0px 10px;
    cursor: pointer;
    height: 100%;
}

.projeto button:hover{
    border: 1px solid #071359; /* Borda azul escuro */
    background-color: #F2F2F2; /* Cor de fundo clara */
    color: #071359; /* Cor do texto azul escuro */
}

#projetos .icones{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projeto i{
    transition: all .3s ease; 
}

/* Estilos da seção Contato */
#contato h2{
    color: #071359; /* Cor do texto azul escuro */
}

#contato h3{
    color: #071359; /* Cor do texto azul escuro */
    margin: 30px 10px 10px;
}

.icones a{
    display: inline-block;
    margin: 0 10px;
    color: #071359; /* Cor do texto azul escuro */
    transition: all .3s ease;
}

.icones a:hover, .projeto i:hover{
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

i{
    margin: 0px 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    background-color: #071359; /* Cor de fundo azul escuro */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    color: #F2F2F2; /* Cor do texto clara */
}

input, textarea{
    width: 100%;
    margin: 5px 0px 20px 0px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

form button{
    align-self: center;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid;
    background-color: #F2F2F2; /* Cor de fundo clara */
    color: #071359; /* Cor do texto azul escuro */
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover{
    border: 1px solid #F2F2F2; /* Borda clara */
    background-color: #071359; /* Cor de fundo azul escuro */
    color: #F2F2F2; /* Cor do texto clara */
}

/* Estilos do rodapé */
footer{
    background-color: #071359; /* Cor de fundo azul escuro */
    color: #F2F2F2; /* Cor do texto clara */
    padding: 5px 0px;
}

footer p{
    text-align: center;
}

/* Estilos responsivos para telas maiores */
@media(min-width: 480px){
    #inteiro{
        display: block;
    }
    #pequeno{
        display: none;
    }

    nav{
        width: 50%;
    }

    header a{
        font-size: 18px;
    }

    #sobre p{
        font-size: 1rem;
    }

    #projetos i{
        font-size: 45px;
    }

    #projetos{
        display: flex;
        flex-direction: column;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projetos{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .projeto{
        width: 300px;
        margin: 20px 20px;
    }

    .descricao{
        height: 130px;
    }

    form{
        width: 70%;
    }

    #contato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    i{
        font-size: 60px;
    }
}

@media(min-width: 768px){
    header{
        height: 70px;
    }

    header a{
        height: 70px;
    }

    section{
        padding: 70px 40px 50px 40px;
    }

    nav{
        width: 40%;
    }

    .sobre{
        padding: 70px 40px 50px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #sobre{
        padding-right: 0px;
    }

    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }

    .img-sobre{
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
    }

    .foto{
        position: absolute;
        margin: 8px;
        border-radius: 50%;
        border: 1px solid #071359; /* Borda azul escuro */
        box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
        width: 200px;
        height: 200px;
    }

    header a{
        font-size: 22px;
    }

    #sobre p{
        font-size: 22px;
    }

    #projetos i{
        font-size: 50px;
    }

    i {
        font-size: 70px;
    }

    form{
        width: 70%;
    }

    input{
        height: 40px;
    }

    textarea{
        height: 100px;
    }
}

@media (min-width: 1024px){
    header{
        height: 60px;
    }

    header a{
        height: 60px;
    }

    section{
        padding: 60px 80px 50px 80px;
    }

    nav{
        width: 30%;
    }

    .sobre{
        padding: 60px 60px 50px 60px;
    }

    .images{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-sobre{
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
        width: 270px;
    }

    .foto{
        position: absolute;
        margin: 8px;
        border-radius: 50%;
        border: 1px solid #071359; /* Borda azul escuro */
        box-shadow: 2px 2px 5px rgba(242, 242, 242, 0.25); /* Sombra suave */
        width: 250px;
        height: 250px;
    }

    header a{
        font-size: 24px;
    }

    #sobre p{
        font-size: 24px;
    }

    #projetos i{
        font-size: 55px;
    }

    i{
        font-size: 80px;
    }

    form{
        width: 60%;
        max-width: 470px;
    }
}

@media(min-width: 1200px){
    header{
        padding: 0% 10%;
    }

    #sobre2{
        max-width: 1200px;
    }
}