html {
    scroll-behavior: smooth; /* Habilita a rolagem suave */
}

body{
    font-family: Arial, sans-serif;
    background-color: red;
}

header{
    background-color: #343633;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0px 18px;
    z-index: 1000;
}

section{
    background-color: red;
    padding: 50px 20px 50px 20px;
}

nav{
    width: 67%;
}

h1{
    font-size: 30px;
    font-style: bold;
    color: rgb(92, 200, 255);
}

#inteiro{
    display: none;
}

h2{
    font-size: 22px;
    margin: 20px 0px;
    font-weight: bolder;
}   

h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

strong{
    font-weight: bolder;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    height: 50px;
    transition: all 0.3s linear;
    padding: 0px 6px;
}

li{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
}

p{
    text-align: justify;
    font-style: oblique;
    line-height: 1.6;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu a:hover{
    background-color: rgb(92, 200, 255);
    color: black;
}

/* Sobre */
.images{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-sobre{
    padding: 0px 0px;
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.foto{
    position: absolute;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #343633;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 140px;
    height: 140px;
}

#sobre{
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: white;
}

#sobre h2{
    color:#343633;
}

#sobre p{
    color: #343633;
    font-size: 18px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Projetos */
#projetos{
    background-color: #343633;
    color: azure;
}

#projetos h2, h3{
    color: #5CC8FF;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:rgba(147, 134, 127, 0.3);
    border-radius: 10px;
    border: solid 1px #5CC8FF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 20px 0px;
    padding: 10px;
}

.button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projeto a{
    padding: 0px;
    height: 35px;
    margin: 10px 0px;
}

.projeto button{
    background-color: #5CC8FF;
    color: #343633;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 10px;
    cursor: pointer;
    height: 100%;
}

/* Contato */
#contato h2{
    color: #343633;
}

#contato{
    background-color: #5CC8FF;
}

/* Footer */
footer{
    width: 100%;
    background-color: #343633;
    color: white;
    text-align: center;
    padding: 10px;
}