@media screen and (max-width: 320px) {
    .redes-sociais {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-projeto{
        width: auto;
    }

    #botoes-form {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

body {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.estudos,
.experiencia,
.projetos,
.contato,
.contato-formulario,
.footer {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: auto;
    padding-right: auto;
}


.avatar-mini,
.cabecalho {
    display: none;
}

.imagem-topo {
    width: 100%;
    height: 120px;
}

.avatar {
    position: relative;
    top: -130px;
    left: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 3px 2px #707070;
}

.avatar-conteudo {
    border-radius: 50%;
    height: 204px;
    width: 204px;
    overflow: hidden;
}

.github-icon,
.linkedin-icon,
.stack-icon {
    position: absolute;
    bottom: -24px;
    height: 48px;
    width: 48px;

}

.linkedin-icon {
    left: calc(50% - 24px);
}

.github-icon {
    left: calc(20% - 24px);
}

.stack-icon {
    right: calc(20% - 24px);
}

.meu-nome {
    position: relative;
    margin-top: -110px;
}

.apresentacao {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

h1,
h2 {
    margin: 20px;
    text-align: center;
    font-size: calc(48px*.75);
    height: auto;
}

.sub-h1 {
    font-size: calc(34px*.75);
    font-weight: lighter;
    font-style: italic;
    height: auto;
    margin: 0 25px 25px 25px;
}


#apresentacao-p{
    font-size: calc(21px*.75);
}

#estudo-titulo,
.exp-titulo,
.projeto-titulo {
    font-size: calc(21px*.85);
    font-weight: 600;
}

#estudo-info,
.exp-info, label, p {
    font-size: calc(13px*.85);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-card,
.button {
    font-size: calc(12px*.85);
}

input {
    margin-bottom: 15px;
    height: 34px;
    width: 100%;
    border-radius: 10px;
    border: #000000;
}

textarea {
    width: 100%;
    border-radius: 10px;
    border: #000000;
}

#botoes-form {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contato,
.contato-formulario {
    background-color: #000000;

}

#gmail-icon,
#instagram-icon,
#twitter-icon {
    max-height: calc(65px*.75);
}

#formulario {
    width: 100%;
}

footer {
    padding: 5px;
}