body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cabecalho {
    background-color: #3A3A3A;
    grid-column: 1 / 5;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-topo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    grid-column: 1 / 5;
}

.avatar-mini {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-imagem-mini {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.botoes-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 150px;
}

.nav-interna {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #ffffff;

}

.apresentacao {
    background-color: #ffffff;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;

}

.avatar {
    position: relative;
    top: -50%;
    left: 20%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0 0 0/ .99);
}

.avatar-conteudo {
    border-radius: 50%;
    height: 264px;
    width: 264px;
    overflow: hidden;
}

.avatar-imagem {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.github-icon,
.linkedin-icon,
.stack-icon {
    position: absolute;
    bottom: -29px;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0 0 0/ .5);
}

.linkedin-icon {
    left: calc(50% - 29px);
}

.github-icon {
    left: calc(20% - 29px);
}

.stack-icon {
    right: calc(20% - 29px);
}

h1 {
    margin-left: 30%;
    height: 73px;
    font-size: 55px;
    font-weight: bold;
    color: #707070;
}

h2 {
    margin-left: 20%;
    height: 73px;
    font-size: 55px;
    font-weight: lighter;
    color: #707070;
}

em {
    font-style: italic;
}

.sub-h1 {
    margin-left: 30%;
    margin-right: 20%;
    height: 46px;
    font-size: 34px;
    font-weight: lighter;
    font-style: italic;
    color: #707070;
}

#apresentacao-h2,
#apresentacao-p {
    margin-top: 34px;
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 34px;
    font-size: 21px;
    font-weight: 600;
    line-height: 33px;
    color: #707070;
}

#link-toti {
    font-style: italic;
    font-weight: bold;
    color: #707070;
    text-decoration: none;
}

.estudos, .experiencia, .projetos {
    background-color: #DEDEDE;
    grid-column: 1 / 5;
    padding-top: 35px;
    padding-bottom: 35px;
}

#estudos-list,
.exp-list {
    margin-left: 20%;
    line-height: 30px;
    list-style-type: disc;
}

#estudo-titulo, .exp-titulo, .projeto-titulo{
    font-size: 21px;
    font-weight: bold;
    color: #707070;
    margin-top: 20px;
}

#estudo-info, .exp-info{
    font-size: 13px;
    font-weight: 600;
    color: #707070;
    text-transform: uppercase;
}

.experiencia {
    background-color: #434343;
}

#experiencia-h2, .exp-list, .exp-titulo{
    color: #ffffff;
}

.exp-info {
    color: rgba(255 255 255/ .95);
}

.projetos {
    background-color: #F2F2F2;
}

.cards{
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
}

.card-projeto {
    height: auto;
    width: 260px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.cont-img-projeto{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-projeto{
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.projeto-info{
    font-size: 13px;
    font-weight: 600;
    color: #707070;
}

.projeto-titulo, .projeto-info{
    margin-top: 5px;
    margin-left: 5px;
}

.botao-projeto{
    margin-top: 10px;
    margin-bottom: 10px;

}

.contato {
    background-color: #000000;
    grid-column: 1 / 3;
    padding-top: 35px;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

#contato-titleh2 {
    margin-left: 30%;
    margin-right: 30%;
    color: #ffffff;
}

#contato-titleh3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#instagram,
#twitter,
#gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

#gmail-icon,
#instagram-icon,
#twitter-icon {
    max-height: 65px;
    margin-bottom: 10px;
}

.contato-formulario {
    background-color: #000000;
    grid-column: 3/ 5;
    padding-top: 35px;
    padding-bottom: 35px;
}

label {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

input {
    margin-bottom: 15px;
    height: 34px;
    width: 400px;
    border-radius: 10px;
    border: #000000;
}

textarea {
    width: 400px;
    border-radius: 10px;
    border: #000000;
}

.botton {
    background-color: #585858;
    height: 34px;
    width: auto;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding: 9px 15px 9px 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#botoes-form {
    margin-top: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #000000e5;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-column: 1 / 5;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
}